*{ /*to make things simple making every elements padding and margin 0 px */
    padding: 0px;
    margin: 0px;
}
.header{
    height: 600px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(15, 9, 9);
    background-color: rgba(0, 0, 0, 0.8);
    
    display: flex;
    justify-content: center;
   
}
.nav{
    text-align: center;
    list-style: none;
}
nav li{
    margin: 6px;
    color:aliceblue;
    font-size: 20px;
    display: inline-block;
    margin: 0 40px;
}
.navli{
    float: left;
}

.navli:hover{
    text-decoration: underline;
    color: rgb(208, 139, 139);
}